{{ employee.firstName }}
<!DOCTYPE html>
<style>
    #msg{
        display: none;
        background: white;
        color: #000;
        position: relative;
    }
    .valid{
        color: green;
    }
    .invalid{
        color: red;
    }
</style>
<html lang="en">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Change Password</title>

    <!-- Font document -->
    <link rel="stylesheet" href="{% static 'office_app/login css/fonts/material-icon/css/material-design-iconic-font.min.css' %}">

    <!-- css file -->
    <link rel="stylesheet" href="{% static 'office_app/login css/register_style.css' %}">
</head>
<body>
<div class="main">

    <div class="container">
        <form method="POST" role="form" class="registration-form" id="change_password">{% csrf_token %}
            <h1>Password Change Form</h1>
            <div class="form-group-2">
                <label for="cur_password">Current Password</label>
                <input type="password" placeholder="Enter current password" name="current">

                <label for="new_password">New Password</label>
                <input type="password" placeholder="Enter new password" name="new" id="new" pattern="(?=.*\d)(?=.*[a-z]).{8,50}"
                       title="Must contain at least one number, one lowercase/uppercase letter, and be between 8-50 characters.">

                <label for="new_password_confirm">Confirm New Password</label>
                <input type="password" placeholder="Re-enter new password" name="confirm" pattern="(?=.*\d)(?=.*[a-z]).{8,50}"
                       title="Must contain at least one number, one lowercase/uppercase letter, and be between 8-50 characters.">
            </div>

            <div class="form-submit">
                <button type="submit" name="submit" id="submit" class="submit">Change Password</button>
            </div>
            <div class="form-group-2" id="msg" style="display: none;">
                Your password contain the following:
                <li id="length" class="invalid">Length must be at least <b>8 characters</b></li>
                <li id="lowercase" class="invalid">Contain <b>uppercase/lowercase</b> characters</li>
                <li id="number" class="invalid">Contain a <b>number</b></li>
            </div>
            <div class="form-group-2">
                {% if msg != '' %}
                    <b style="color: red;">{{ msg }}</b>
                {% endif %}
            </div>
        </form>
    </div>

</div>
<!-- jQuery -->
<script src="{% static 'smart_hr/js1/jquery.min.js' %}"></script>
<script>
    $(function () {
        $("#id_doh").html("sad")
    });

    let myInput = document.getElementById("new");
    let length = document.getElementById("length");
    let lowercase = document.getElementById("lowercase");
    {#let uppercase = document.getElementById("uppercase");#}
    let number = document.getElementById("number");

    myInput.onfocus = function () {
        document.getElementById("msg").style.display = "block";
    };

    myInput.onblur = function () {
        document.getElementById("msg").style.display = "none";
    };

    myInput.onkeyup = function () {
        if (myInput.value.length >= 8 && myInput.value.length <= 50){
            length.classList.remove("invalid");
            length.classList.add("valid");
        } else{
            length.classList.remove("valid");
            length.classList.add("invalid");
        }

        let lowerCaseLetters = /[a-z]/g;
        if (myInput.value.match(lowerCaseLetters)){
            lowercase.classList.remove("invalid");
            lowercase.classList.add("valid");
        } else{
            lowercase.classList.remove("valid");
            lowercase.classList.add("invalid");
        }

        let numbers = /[0-9]/g;
        if (myInput.value.match(numbers)){
            number.classList.remove("invalid");
            number.classList.add("valid");
        } else{
            number.classList.remove("valid");
            number.classList.add("invalid");
        }
    }
</script>
</body>
</html>
