
{% include 'office_app/admin/includes/start.html' %}
<main>
    <div class="container-fluid">
        <h2 class="mt-4">Business Group</h2>
        <ol class="breadcrumb mb-4">
            <li class="breadcrumb-item"><a href="{% url 'admin_dashboard' %}">Dashboard</a></li>
            <li class="breadcrumb-item" onclick="$('#collapseGeneral').show();"><a href="#">General</a></li>
            <li class="breadcrumb-item active">Business Group</li>
        </ol>
        <div class="card mb-4">
            <div class="card-header"><i class="fas fa-table mr-1"></i>List of Business Group</div>
            <div class="card-body">
                <div class="table-responsive">
                    <table class="table table-striped table-bordered" id="dataTable" width="100%" cellspacing="0">
                        <thead>
                        <tr>
                            <th>Business Group</th>
                            <th>Legal Entity</th>
                            <th>Cost Manager</th>
                            <th>General Manager</th>
                            <th>Actions</th>
                        </tr>
                        </thead>
                    </table>
                </div>
            </div>
        </div>
        <form id="add_form">
            <div class="card mb-4">
                <div class="card-header"><i class="fas fa-plus-square mr-1"></i>Add Business Group</div>
                <div class="card-body">
                    <div class="form-row">
                        <div class="col-md-3">
                            <div class="form-group">
                                <label class="form-label" for="bgname">Business Group Name</label>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <input class="form-control" type="text" name="bgname" maxlength="50" required>
                            </div>
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="col-md-3">
                            <div class="form-group">
                                <label class="form-label" for="legalentity">Legal Entity</label>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <select class="form-control selectpicker" data-size="10" name="legalentity" data-live-search="true" required>
                                    <option value="" selected disabled></option>
                                    {% for legalentity in legalentities %}
                                        <option value="{{ legalentity.entityName }}">{{ legalentity.entityName }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="col-md-3">
                            <div class="form-group">
                                <label class="form-label" for="generalmanager"> General Manager</label>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <select class="form-control selectpicker" data-size="10" name="generalmanager" data-live-search="true" required>
                                    <option value="" selected disabled></option>
                                    {% for employee in employees %}
                                        <option value="{{ employee.associateID }}">{{ employee.full_name }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="col-md-3">
                            <div class="form-group">
                                <label class="form-label" for="costmanager">Cost Manager</label>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <select class="form-control selectpicker" data-size="10" name="costmanager" data-live-search="true" required>
                                    <option value="" selected disabled></option>
                                    {% for employee in employees %}
                                        <option value="{{ employee.associateID }}">{{ employee.full_name }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                        </div>
                    </div>
                    <p>
                    <div class="form-row">
                        <div class="col-md-3"></div>
                        <div class="col-md-9">
                            <div class="form-group">
                                <button type="button" class="btn btn-primary" id="add_btn">Add Business Group</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
</main>
{% include 'office_app/admin/includes/body_footer.html' %}
<!-- custom javascript function will go here -->
<!-- Written by Zaawar Ejaz -->
<script>
    $(document).ready(function() {
        $('#dataTable').DataTable({
            ajax: {
                url: "{% url 'businessgroup_api' %}",
                dataSrc: 'businessgroups',
                error: function (err) {
                    swal.fire({
                        text: "Error getting data. Please contact IT Administrator",
                        icon: "error"
                    });
                }
            },
            responsive: {
                details: {
                    display: $.fn.dataTable.Responsive.display.childRowImmediate,
                    type: 'none',
                    target: ''
                }
            },
            order: [0, 'asc'],
            columns: [
                { data: 'businessGroup' },
                { data: 'legalEntity' },
                { data: 'costManager' },
                { data: 'generalManager' },
                {
                    "render": function (data, type, row) {
                        return "<i class='fas fa-edit text-secondary mr-2' title='Edit' onclick='edit_businessgroup(\"" + row.businessGroup + "\")' style='cursor: pointer'></i>" +
                                "<i class='fas fa-minus-circle fa-1x text-danger mr-2' title='Delete' onclick='delete_businessgroup(\"" + row.businessGroup + "\")' style='cursor: pointer'></i>";

                    }
                }
            ]
        });
    });

    function edit_businessgroup(businessgroup) {
        $.ajax({
            url: "{% url 'businessgroup_api' %}",
            type: "GET",
            beforeSend: function (xhr) {
                Swal.fire({
                    text: "Working...",
                    icon: 'info',
                    showCancelButton: false,
                    showConfirmButton: false,
                    allowEscapeKey: false,
                    allowOutsideClick: false
                });
            },
            success: function (response) {
                let [entity_options, cm_options, manager_options] = "";

                $.each(response['businessgroups'], function( index, bg ) {
                    if(bg.businessGroup === businessgroup) {

                        $.each(response['legalentities'], function (index, entity) {
                            let selected = "";
                            if (entity.entityName === bg.legalEntity)
                                selected = "selected";

                            entity_options += '<option ' + selected + ' value="' + entity.entityName + '">' + entity.entityName + '</option>'
                        });

                        $.each(response['employees'], function (index, employee) {
                            let [cm_selected, manager_selected] = "";
                            if (employee.name === bg.generalManager) manager_selected = "selected";
                            if (employee.name === bg.costManager) cm_selected = "selected";

                            cm_options += '<option ' + cm_selected + ' value="' + employee.associate_id + '">' + employee.name + '</option>';
                            manager_options += '<option ' + manager_selected + ' value="' + employee.associate_id + '">' + employee.name + '</option>';
                        });

                        return false;
                    }
                });
                var html = '<hr><input type=hidden name="bgname" value="' + businessgroup + '">' +
                    '<div class="form-inline mb-2">' +
                    '<label class="form-label col-md-4">Business Group Name</label>' +
                    '<input class="form-control col-md-8" value="' + businessgroup + '" disabled>' +
                    '</div>' +
                    '<div class="form-inline mb-2">' +
                    '<label class="form-label col-md-4">Legal Entity</label>' +
                    '<select class="form-control col-md-8" name="legalentity" required>' +
                    entity_options +
                    '</select>' +
                    '</div>' +
                    '<div class="form-inline mb-2">' +
                    '<label class="form-label col-md-4">Cost Manager</label>' +
                    '<select class="form-control col-md-8" name="costmanager" required>' +
                    cm_options +
                    '</select>' +
                    '</div>' +
                    '<div class="form-inline mb-2">' +
                    '<label class="form-label col-md-4">Manager</label>' +
                    '<select class="form-control col-md-8" name="generalmanager" required>' +
                    manager_options +
                    '</select>' +
                    '</div>';

                Swal.fire({
                    title: 'Edit Business Unit',
                    html: '<form id="edit_form">' + html + '</form>',
                    icon: 'info',
                    showCancelButton: true,
                    confirmButtonText: "Submit",
                    focusConfirm: false,
                    preConfirm: () => {
                        let form = $('#edit_form');
                        validate_and_collect_form_data(form, 'PUT')
                    }
                });
                $('.edit-toggle').bootstrapToggle();
            },
            error: function (err) {
                Swal.fire({
                    text: err.responseText,
                    icon: 'error'
                })
            }
        });
    }

    function delete_businessgroup(businessgroup) {
        Swal.fire({
            text: "Are you sure you want to delete?",
            icon: 'warning',
            showCancelButton: true,
            confirmButtonText: 'Yes'
        }).then((result) => {
            if (result.value) {
                Swal.fire({
                    text: 'Working...',
                    icon: 'info',
                    showCancelButton: false,
                    showConfirmButton: false,
                    allowEscapeKey: false,
                    allowOutsideClick: false
                });
                $.ajax({
                    url: "{% url 'businessgroup_api' %}?" + $.param({bgname: businessgroup}),
                    type: "DELETE",
                    beforeSend: function(xhr) {
                        xhr.setRequestHeader("X-CSRFToken", '{{ csrf_token }}');
                    },
                    success: function (response) {
                        Swal.fire({
                            text: response,
                            icon: 'success'
                        });
                        $('#dataTable').DataTable().ajax.reload(null, false);
                    },
                    error: function (err) {
                        Swal.fire({
                            text: err.responseText,
                            icon: 'error'
                        })
                    }
                });
            }
        });
    }

    function add_businessgroup(data, request_type) {
        $.ajax({
            url: "{% url 'businessgroup_api' %}?" + $.param({data: JSON.stringify(data)}),
            type: request_type,
            data: {
                csrfmiddlewaretoken: '{{ csrf_token }}',
                data: JSON.stringify(data)
            },
            beforeSend: function(xhr) {
                xhr.setRequestHeader("X-CSRFToken", '{{ csrf_token }}');
                Swal.fire({
                    text: 'Working...',
                    icon: 'info',
                    showCancelButton: false,
                    showConfirmButton: false,
                    allowEscapeKey: false,
                    allowOutsideClick: false
                })
            },
            success: function (response) {
                Swal.fire({
                    text: response,
                    icon: 'success'
                });
                $('#dataTable').DataTable().ajax.reload(null, false);
            },
            error: function (err, msg) {
                Swal.fire({
                    text: err.responseText,
                    icon: 'error'
                })
            }
        })
    }

    function validate_and_collect_form_data(form, request_type) {
        if ( validateForm(form) ) {
            var data = {};
            form.find(':input').each(function(){
                if ( $(this).is(':checkbox') )
                    data[$(this).prop('name')] = $(this).prop('checked');
                else
                    data[$(this).prop('name')] = $(this).val();
            });
            add_businessgroup(data, request_type);
        }
    }

    $('#add_btn').click(function () {
        let form = $('#add_form');
        validate_and_collect_form_data(form, 'POST')
    });

</script>
<!--------------------------------------------->

{% include 'office_app/admin/includes/end.html' %}
