{% load static %}
{% include 'office_app/admin/includes/start.html' %}
<link rel="stylesheet" href="{% static 'office_app/css/gantt.css' %}" />
<main>
    <div class="container-fluid">
        <h2 class="mt-4">Travel Reimbursement Form - Approval Process Tracker</h2>
        <ol class="breadcrumb mb-4">
            <li class="breadcrumb-item"><a href="{% url 'admin_dashboard' %}">Dashboard</a></li>
            <li class="breadcrumb-item" onclick="$('#collapsePT').show();"><a href="#">Approval Process Tracker</a></li>
            <li class="breadcrumb-item active">Travel Reimbursement Form</li>
        </ol>
        <div class="card mb-4">
            <div class="card-header"><i class="fas fa-table mr-1"></i>List of Travel Reimbursement Form</div>
            <div class="card-body">
                <div class="table-responsive">
                    <table class="table table-striped table-bordered" id="dataTable" width="100%" cellspacing="0">
                        <thead>
                        <tr>
                            <th>Form ID</th>
                            <th>Applicant Name</th>
                            <th>Budget SC</th>
                            <th>Travel Type</th>
                            <th>Current Stage</th>
                            <th>Status</th>
                        </tr>
                        </thead>
                    </table>
                </div>
            </div>
        </div>
    </div>
</main>
{% include 'office_app/admin/includes/body_footer.html' %}
<!-- custom javascript function will go here -->
<!-- Gantt Chart -->
<script type="text/javascript" src="{% static 'office_app/js/jquery.fn.gantt.js' %}"></script>
<!-- Written by Zaawar Ejaz -->
<script>
    $(document).ready(function() {
        let dataTable = $('#dataTable').DataTable({
            ajax: {
                url: "{% url 'tr_ap_tracker_api' %}",
                dataSrc: 'tr_forms',
                error: function (err) {
                    swal.fire({
                        text: "Error getting data. Please contact IT Administrator",
                        icon: "error"
                    });
                }
            },
            order: [0, 'desc'],
            responsive: {
                details: {
                    display: $.fn.dataTable.Responsive.display.childRowImmediate,
                    type: 'none',
                    target: ''
                }
            },
            columns: [
                { data: 'formID' },
                { data: 'applicant' },
                { data: 'budgetSC' },
                { data: 'travelType' },
                {
                    "render": function (data, type, row) {
                        return row.currentStage + " out of " + row.totalStages
                    }
                },
                {
                    "render": function (data, type, row) {
                        if (row.isApproved) return "<span class='text-success'>Approved</span>";
                        else if (row.isDeclined) return "<span class='text-danger'>Declined</span>";
                        else return "Pending"
                    }
                },

            ]
        });

        $('#dataTable tbody').on( 'mouseover', 'tr', function () {
            $(this).css('cursor', 'pointer')
        });

        $('#dataTable tbody').on('click', 'tr', function () {
            let row = dataTable.row(this).data();

            $.ajax({
                url: "{% url 'tr_ap_tracker_api' %}?" + $.param({request_type: 'gantt_chart', form_id: row["formID"]}),
                dataSrc: 'gantt_data',
                beforeSend: function() {
                    swal.fire({
                        text: "Working...",
                        icon: "info",
                        showCancelButton: false,
                        showConfirmButton: false,
                        allowEscapeKey: false,
                        allowOutsideClick: false
                    });
                },
                success: function(response) {
                    swal.fire({
                        title: 'Gantt Chart',
                        html: "<div class='gantt'></div>",
                        width: 1200,
                        showConfirmButton: false,
                        showCloseButton: true,
                    });

                    $('.gantt').gantt({
                        source: response['gantt_data'],
                        dow: ["S", "M", "T", "W", "T", "F", "S"],
                        navigate: "scroll",
                        scale: "days",
                        maxScale: "days",
                        minScale: "days",
                        itemsPerPage: 10,
                        scrollToToday: true,
                        useCookie: false,
                    });

                    $('.gantt').popover({
                        selector: ".bar",
                        content: function _getItemText() {
                            return this.textContent;
                        },
                        container: '.gantt',
                        trigger: "hover",
                        placement: "auto",
                    });

                },
                error: function(err) {
                    Swal.fire({
                        text: err.responseText,
                        icon: 'error'
                    });
                }
            });
        });
    });

</script>
<!--------------------------------------------->

{% include 'office_app/admin/includes/end.html' %}
